/* @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
 */
body{
  font-family: 'Montserrat Alternates', sans-serif;
    background: #041430;
    color: #fff;
}

html, body { height: 100% !important; }

.paddingTop{
  padding-top: 55px;
}


.bg-s{
  background-color: #041430;
}